  <ul>
    <li>
      <div class="pl-3">
        <div class="title"><strong>Ph.D. in Computer Science and Engineering</strong>, POSTECH</div>
        <div class="author">
          <em>2021.03 – Present</em>
        </div>
      </div>
    </li>
    <li>
      <div class="pl-3">
        <div class="title"><strong>B.S. in Computer Science and Engineering & Mathematics</strong>, POSTECH</div>
        <div class="author">
          <em>2016.03 – 2021.02</em>
        </div>
      </div>
    </li>
  </ul>