<ul>
  <li>
    <div class="pl-3">
      <div class="title"><strong>Research Intern</strong>, Microsoft Research Asia (MSRA)</div>
      <div class="author">
        <em>2024.09 – 2025.03 &nbsp;&nbsp;·&nbsp;&nbsp; Mentored by Wei Chen</em>
      </div>
    </div>
  </li>
  <li>
    <div class="pl-3">
      <div class="title"><strong>President of the Graduate Student Association</strong>, Dept. of Computer Science and Engineering</div>
      <div class="author">
        <em>2021.03 – 2022.02</em>
      </div>
    </div>
  </li>
</ul>
